---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{#partial "hero"}}
    {{#if carousel}}
        {{> components/carousel arrows=theme_settings.homepage_show_carousel_arrows play_pause_button=theme_settings.homepage_show_carousel_play_pause_button}}
    {{/if}}

    <section style="padding:25px 0px;">
    <div class="container">
        <div class="row">


            <div class="col-lg-4 text-center">
            <div style="background:#c5e0f1;padding:10px 5px;">
            <div class="d-flex justify-content-center align-items-center">
            <div style="width:15px;margin-right:10px;margin-bottom:-5px;">
<svg fill="black" id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 143.82 144">
  <defs>
    <style>
      .cls-1 {
        stroke-width: 0px;
      }
    </style>
  </defs>
  <g id="Layer_1-2" data-name="Layer 1">
    <g>
      <path class="" fill="black" d="M125.64,81.18h17.44c-1.44,20.31-16.15,45.33-42.2,56.89-24.76,10.99-63.37,8.75-87.81-24.15-4.28,3.92-8.54,7.83-13.06,11.97v-44.66h48.58c-7.5,6.91-14.67,13.52-22.03,20.29,11.31,16.09,26.61,25.13,46.23,24.35,28.67-1.15,45.51-17.32,52.85-44.69Z"/>
      <path class="" fill="black" d="M131.27,30.82c4.17-4.25,8.2-8.37,12.55-12.8v44.77h-43.75c5.98-5.97,12.16-12.14,18.45-18.42-11.27-17.09-26.43-26.66-46.16-26.25-29.27.61-46.7,16.81-54.15,44.72H.64C3.05,38.84,20.05,14.72,46.22,4.68,72.84-5.52,108.71,0,131.27,30.82Z"/>
    </g>
  </g>
</svg>
                </div>
                <p style="margin:0;"><strong>30 DAY RETURNS</strong></p>
            </div>
            </div>
            </div>
            <div class="col-lg-4 text-center">
            <div style="background:#c5e0f1;padding:10px 5px;">
            <div class="d-flex justify-content-center align-items-center">
            <div style="width:15px;margin-right:10px;margin-bottom:-5px;">
<svg fill="black" id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 143.82 144">
  <defs>
    <style>
      .cls-1 {
        stroke-width: 0px;
      }
    </style>
  </defs>
  <g id="Layer_1-2" data-name="Layer 1">
    <g>
      <path class="" fill="black" d="M125.64,81.18h17.44c-1.44,20.31-16.15,45.33-42.2,56.89-24.76,10.99-63.37,8.75-87.81-24.15-4.28,3.92-8.54,7.83-13.06,11.97v-44.66h48.58c-7.5,6.91-14.67,13.52-22.03,20.29,11.31,16.09,26.61,25.13,46.23,24.35,28.67-1.15,45.51-17.32,52.85-44.69Z"/>
      <path class="" fill="black" d="M131.27,30.82c4.17-4.25,8.2-8.37,12.55-12.8v44.77h-43.75c5.98-5.97,12.16-12.14,18.45-18.42-11.27-17.09-26.43-26.66-46.16-26.25-29.27.61-46.7,16.81-54.15,44.72H.64C3.05,38.84,20.05,14.72,46.22,4.68,72.84-5.52,108.71,0,131.27,30.82Z"/>
    </g>
  </g>
</svg>
                </div>
                <p style="margin:0;"><strong>30 DAY RETURNS</strong></p>
            </div>
            </div>
            </div>
            <div class="col-lg-4 text-center">
            <div style="background:#c5e0f1;padding:10px 5px;">
            <div class="d-flex justify-content-center align-items-center">
            <div style="width:15px;margin-right:10px;margin-bottom:-5px;">
<svg fill="black" id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 143.82 144">
  <defs>
    <style>
      .cls-1 {
        stroke-width: 0px;
      }
    </style>
  </defs>
  <g id="Layer_1-2" data-name="Layer 1">
    <g>
      <path class="" fill="black" d="M125.64,81.18h17.44c-1.44,20.31-16.15,45.33-42.2,56.89-24.76,10.99-63.37,8.75-87.81-24.15-4.28,3.92-8.54,7.83-13.06,11.97v-44.66h48.58c-7.5,6.91-14.67,13.52-22.03,20.29,11.31,16.09,26.61,25.13,46.23,24.35,28.67-1.15,45.51-17.32,52.85-44.69Z"/>
      <path class="" fill="black" d="M131.27,30.82c4.17-4.25,8.2-8.37,12.55-12.8v44.77h-43.75c5.98-5.97,12.16-12.14,18.45-18.42-11.27-17.09-26.43-26.66-46.16-26.25-29.27.61-46.7,16.81-54.15,44.72H.64C3.05,38.84,20.05,14.72,46.22,4.68,72.84-5.52,108.71,0,131.27,30.82Z"/>
    </g>
  </g>
</svg>
                </div>
                <p style="margin:0;"><strong>30 DAY RETURNS</strong></p>
            </div>
            </div>
            </div>
        </div>
    </div>
</section>
    <!-- <p>hello there</p> -->
    <!-- {{#if banners.top}}
    <div class="banners" data-banner-location="top">
        {{#each (limit banners.top_metadata 1)}}
        <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
            <div data-event-type="promotion-click">
                {{{this.content}}}
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}} -->
    <!-- <p>hello there below</p> -->
    <p>products</p>
    {{#each (limit products 5)}}
    <li class="product">
        {{>components/products/card theme_settings=../theme_settings customer=../customer show_rating=../settings.show_product_rating}}
    </li>
{{/each}}
<p>end</p>
    {{#if products.new}}
    {{> components/products/new padding_top="padding-top-50" padding_bottom="padding-bottom-50" products=products.new productsnew=products.new title=theme_settings.homepage_products_new_title layout=theme_settings.homepage_products_new_layout_grid columns=theme_settings.homepage_products_new_column products_show=theme_settings.homepage_products_new_show products_limit=settings.homepage_products_new_limit custom="no-border" description=theme_settings.homepage_products_new_description block_id="home7-new-products"}}
{{/if}}
    {{#if products.new}}
    <!-- <p>new product</p> -->
        {{> components/products/new products=products.new columns=2}}
        <!-- {{> components/products/new products=products.new columns=theme_settings.homepage_new_products_column_count}} -->
    {{/if}}

    {{{snippet 'home_content'}}}

    {{{region name="home_below_carousel"}}}

{{/partial}}

{{#partial "page"}}
    {{#each shipping_messages}}
        {{> components/common/alert/alert-info message}}
    {{/each}}

    <div class="main full grid-bg">
        <div class="container">
            {{#if products.featured}}
                {{> components/products/featured products=products.featured columns=theme_settings.homepage_featured_products_column_count}}
            {{/if}}
            {{{region name="home_below_featured_products"}}}
        
            {{#if products.top_sellers}}
                {{> components/products/top products=products.top_sellers columns=theme_settings.homepage_top_products_column_count}}
            {{/if}}
            {{{region name="home_below_top_products"}}}
        
        </div>
    </div>
{{/partial}}

{{#partial "hero-bottom"}}
    {{#if blog.recent_posts}}
        <div class="banners blog-posts-wrap">
            <div class="container">
                <h2 class="page-heading">Recent Posts</h2> 
                <div class="blog-posts">
                    {{#each blog.recent_posts}}
                        {{> components/blog/post post=this}}
                    {{/each}}
                </div>
            </div>
        </div>
    {{/if}}

    {{{region name="home_below_new_products"}}}
{{/partial}}

{{> layout/base}}
