<!-- <link href="./owl-carousel/" rel="stylesheet">
<link href="https://assets.codepen.io/2054761/owl.theme.default.min.css" rel="stylesheet">
<link href="https://assets.codepen.io/2054761/lightbox.min.css" rel="stylesheet"> -->

<link rel="stylesheet" href="{{cdn 'assets/owl-carousel/owl.carousel.min.css'}}">
<link rel="stylesheet" href="{{cdn 'assets/owl-carousel/owl.theme.default.min.css'}}">

<!-- <p>hello from templates/components/custom/home-carousel</p> -->    

<p style="font-size:20px;"><strong>FEATURED PRODUCTS</strong></p>
<hr style="margin:0px;">
{{#if products.featured}}
    <div class="featured-products-carousel owl-carousel owl-theme text-center">
    {{#each products.new}}
    {{#if image}}

    <div class="text-center">
        {{> components/products/card }}
    </div>


            {{/if}}
    {{/each}}
</div> <!-- end of carousel -->
{{else}}
<p>No new products available.</p>
{{/if}}

{{> components/custom/login-for-pricing}}
      


<script src="{{cdn 'assets/owl-carousel/jquery.min.js'}}"></script>
<script src="{{cdn 'assets/owl-carousel/owl.carousel.min.js'}}"></script>
<script src="{{cdn 'assets/owl-carousel/owl-carousels.js'}}"></script>