<p style="font-size:20px;"><strong>FEATURED PRODUCTS</strong></p>
<hr style="margin:0px;">
<div class="featured-products-carousel owl-carousel owl-theme text-center" style="margin-bottom:25px;">
{{#if products.featured}}
    {{#each products.featured}}

    <div class="text-center">
        <div class="new-arrival-tag position-absolute text-white" style="background:#3ABFE2;padding:1px 10px 4px;top:0;right:11px;z-index:1;color:white;"><small>NEW</small></div>
        {{>components/products/card theme_settings=../theme_settings customer=../customer show_rating=../settings.show_product_rating}}
        {{> components/custom/login-for-pricing}}
    </div>

    {{/each}}
{{/if}}
</div> <!-- end of carousel -->