<!-- <link href="./owl-carousel/" rel="stylesheet">
<link href="https://assets.codepen.io/2054761/owl.theme.default.min.css" rel="stylesheet">
<link href="https://assets.codepen.io/2054761/lightbox.min.css" rel="stylesheet"> -->

<link rel="stylesheet" href="{{cdn 'assets/owl-carousel/owl.carousel.min.css'}}">
<link rel="stylesheet" href="{{cdn 'assets/owl-carousel/owl.theme.default.min.css'}}">

<!-- <p>hello from templates/components/custom/home-carousel</p> -->

<div class="home-carousel owl-carousel owl-theme">

<div class="image-collection">
    <a class="" href="/new-items/" class="position-relative">
        <img class="" src="https://broncodistribution.com/product_images/uploaded_images/bd-catgories-new-2x.jpg" data-src="https://broncodistribution.com/product_images/uploaded_images/bd-catgories-new-2x.jpg" alt="">
        <h2 class="position-absolute text-white title" style="top:50%;left:50%;transform:translate(-50%,-50%);margin:0px;font-size:17px;">NEW ITEMS</h2>
    </a>
</div>

<div class="image-collection">
    <a class="" href="/new-items/" class="position-relative">
        <img class="" src="https://broncodistribution.com/product_images/uploaded_images/bd-catgories-glass-2x.jpg" data-src="https://broncodistribution.com/product_images/uploaded_images/bd-catgories-glass-2x.jpg" alt="">
        <h2 class="position-absolute text-white title" style="top:50%;left:50%;transform:translate(-50%,-50%);margin:0px;font-size:17px;">GLASS</h2>
    </a>
</div>

<div class="image-collection">
    <a class="" href="/new-items/" class="position-relative">
        <img class="" src="https://broncodistribution.com/product_images/uploaded_images/bd-catgories-vape-2x.jpg" data-src="https://broncodistribution.com/product_images/uploaded_images/bd-catgories-vape-2x.jpg" alt="">
        <h2 class="position-absolute text-white title" style="top:50%;left:50%;transform:translate(-50%,-50%);margin:0px;font-size:17px;">VAPE SHOP</h2>
    </a>
</div>

<div class="image-collection">
    <a class="" href="/new-items/" class="position-relative">
        <img class="" src="https://broncodistribution.com/product_images/uploaded_images/bd-catgories-silicone-2x.jpg" data-src="https://broncodistribution.com/product_images/uploaded_images/bd-catgories-silicone-2x.jpg" alt="">
        <h2 class="position-absolute text-white title" style="top:50%;left:50%;transform:translate(-50%,-50%);margin:0px;font-size:17px;">KRATOM</h2>
    </a>
</div>

<div class="image-collection">
    <a class="" href="/new-items/" class="position-relative">
        <img class="" src="https://broncodistribution.com/product_images/uploaded_images/bd-catgories-essentials-2x.jpg" data-src="https://broncodistribution.com/product_images/uploaded_images/bd-catgories-essentials-2x.jpg" alt="">
        <h2 class="position-absolute text-white title" style="top:50%;left:50%;transform:translate(-50%,-50%);margin:0px;font-size:17px;">PAPER / WRAP ACCESSORIES</h2>
    </a>
</div>

<div class="image-collection">
    <a class="" href="/new-items/" class="position-relative">
        <img class="" src="https://broncodistribution.com/product_images/uploaded_images/bd-catgories-other-2x.jpg" data-src="https://broncodistribution.com/product_images/uploaded_images/bd-catgories-other-2x.jpg" alt="">
        <h2 class="position-absolute text-white title" style="top:50%;left:50%;transform:translate(-50%,-50%);margin:0px;font-size:17px;">DABBING</h2>
    </a>
</div>

<div class="image-collection">
    <a class="" href="/new-items/" class="position-relative">
        <img class="" src="https://broncodistribution.com/product_images/uploaded_images/troch.jpg" data-src="https://broncodistribution.com/product_images/uploaded_images/troch.jpg" alt="">
        <h2 class="position-absolute text-white title" style="top:50%;left:50%;transform:translate(-50%,-50%);margin:0px;font-size:17px;">TORCH</h2>
    </a>
</div>
      
</div>

<script src="{{cdn 'assets/owl-carousel/jquery.min.js'}}"></script>
<script src="{{cdn 'assets/owl-carousel/owl.carousel.min.js'}}"></script>
<script src="{{cdn 'assets/owl-carousel/owl-carousels.js'}}"></script>