<style>
.accordion {
    border: none;
}
.section {
  /* background-color: #eee; */
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 12px;
  transition: 0.4s;
}

.active, .section:hover, .section:hover:after {
  color:var(--accent-primary);
}

.section:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.section.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  /* background-color: white; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.chevron {
    transition:all .25s ease-in-out;
}

.section.active .chevron {
    transform:rotate(180);
}
</style>

<div class="mobile-sidebar-categories d-lg-none d-block">
<div class="d-flex openModalBtn" data-modal-id="myModal1">
<p style="padding-right:10px;"><strong>SIDEBAR:</strong></p>
<div style="width:20px;">
<?xml version="1.0" encoding="UTF-8"?>
<svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68.99 82.23">
  <g id="Layer_1-2" data-name="Layer 1">
    <g>
      <circle class="cls-1" style="fill: none;stroke: #000;stroke-miterlimit: 10;stroke-width: 3px;" cx="58.76" cy="31.7" r="8.72"/>
      <rect class="cls-2" style="stroke-width: 0px;" x="57.6" y="0" width="2.33" height="23.98" rx="1.16" ry="1.16"/>
      <rect class="cls-2" style="stroke-width: 0px;" x="57.6" y="39.42" width="2.33" height="42.81" rx="1.16" ry="1.16"/>
      <circle class="cls-1" style="fill: none;stroke: #000;stroke-miterlimit: 10;stroke-width: 3px;" cx="33.36" cy="26" r="8.72"/>
      <rect class="cls-2" style="stroke-width: 0px;" x="32.2" y="0" width="2.33" height="18.03" rx="1.16" ry="1.16"/>
      <rect class="cls-2" style="stroke-width: 0px;" x="32.2" y="33.69" width="2.33" height="48.54" rx="1.16" ry="1.16"/>
      <circle class="cls-1" style="fill: none;stroke: #000;stroke-miterlimit: 10;stroke-width: 3px;" cx="10.22" cy="57.32" r="8.72"/>
      <rect class="cls-2" style="stroke-width: 0px;" x="9.06" y="0" width="2.33" height="49.16" rx="1.16" ry="1.16"/>
      <rect class="cls-2" style="stroke-width: 0px;" x="9.06" y="66.05" width="2.33" height="16.19" rx="1.16" ry="1.16"/>
    </g>
  </g>
</svg>
</div>
</div>
</div>

<div class="d-lg-block d-none">
    {{> components/custom/sidebar-content}}
</div>

<!-- The first Modal -->
<div id="myModal1" class="modal-custom sidebar-modal">
<!-- Modal content -->
<div class="modal-content-custom">
<span class="close-custom">&times;</span>

{{> components/custom/sidebar-content}}

</div>
</div>

<script>
    // Set up the click event on the accordion itself
// When a panel is clicked, that event will bubble up
// to the accordion and can be handled there.
document.querySelector(".accordion").addEventListener("click", function(event){

// Check to see if the clicked panel was the currently open one.
let alreadyActive = event.target.classList.contains("active");

// Loop over all the panels an close each one
document.querySelectorAll(".panel").forEach(function(panel){
  panel.style.maxHeight = "0";
  panel.previousElementSibling.classList.remove("active");
});

// If the clicked panel wasn't the already active one go ahead
// and open the clicked panel. Otherwise, do nothing and leave
// all the panels closed.
if(!alreadyActive){
  // Then show the clicked panel which is accessible as event.target
  event.target.classList.add("active");
  var panel = event.target.nextElementSibling;
  panel.style.maxHeight = panel.scrollHeight + "px";
}

});
</script>