small,.small {
    font-size:80%;
}
.text-white {
    color:white;
}
a {
    transition:all .25s ease-in-out;

    &:hover {
        text-decoration:underline;
    }
}

h1.page-heading {
    font-size: 22px;
}