<div class="text-center">
    <h2 class="page-heading" style="margin:0;">TRENDING NOW</h2>
    <p>You asked for them and we got them! here our customer favorites.</p>
</div>

<ul class="productGrid productGrid--maxCol{{ columns }}" data-product-type="top_sellers" {{#if settings.data_tag_enabled}} data-list-name="Most Popular Products" {{/if}}>
    {{#each products}}
        <li class="product">
            {{>components/products/card settings=../settings theme_settings=../theme_settings customer=../customer event="list" position=(add @index 1)}}
        </li>
    {{/each}}
</ul>
